<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.modeulda">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />


        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <activity
            android:name=".screen.WritingActivity.WrittingActivity"
            android:label="@string/title_activity_writting"/>
        <activity android:name=".screen.MyActivity.editprofile" />
        <activity android:name=".screen.MyActivity.SettingActivity" />
        <activity android:name=".screen.LoginActivity.RegisterActivity" />
        <activity android:name=".screen.LoginActivity.LoginActivity" />
        <activity android:name=".screen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screen.MainActivity.MainActivity" />
    </application>

</manifest>